/* ==UserStyle==
@name           Gelbooru Tragic Layout
@namespace      github.com/openstyles/stylus
@version        1.0.0
@description    A new userstyle
@author         TragicNet
==/UserStyle== */
@-moz-document domain("gelbooru.com") {
	:root {
		color-scheme: dark;
		--bg-0: #161a21;
		--bg-1: #1c2028;
		--bg-2: #161a21;
		--bg-3: #161a21;
		--bg-4: #1c2028;
		--bg-5: #161a21;
		--fg-0: #fff;
		--fg-1: #eee;
		--fg-2: #d6d6d6;
		--fg-3: #bebebe;
		--fg-4: #a7a7a7;
		--fg-5: #8f8f8f;
		--ac-0: #7d879d;
		--ac-1: #7d879d;
		--ac-2: #7d879d;
		--ac-3: #7d879d;
		--ac-4: #161a21;
		--ac-5: #161a21;
	}

	body,
	header,
	.navSubmenu,
	input,
	#ui-id-1,
	.container,
	.alert-info {
		color: var(--fg-3) !important;
		background: var(--bg-0) !important;
	}
	a {
		color: var(--fg-3) !important;
	}
	.alert-info a {
		color: var(--fg-3) !important;
	}
	.invert {
		filter: none;
	}
	.searchArea {
		/* 		backdrop-filter: blur(10px); */
		background: var(--bg-0) !important;
		padding: 3px 10px;
		color: var(--fg-0) !important;
	}

	.homeIcon {
		img:nth-child(1) {
			padding: 0px !important;
			height: 24px !important;
		}
	}

	.topnav > a {
		padding: 10px 20px;
		color: var(--fg-5) !important;
	}
	.topnav a.active,
	.topnav > a:hover {
		color: var(--fg-0) !important;
		background: none !important;
	}

	/* Hide Merch */
	a.active:nth-child(11) {
		display: none;
	}

	/* 	.parentContainer {
		display: flex;
	} */
	main {
		width: 100%;
		margin: 0;
		grid-column: unset !important;
		grid-row: unset !important;
		display: flex;
		flex-direction: column;
	}

	#container {
		display: flex !important;
		flex-direction: column;
	}

	.searchArea {
		position: sticky;
		top: 0;
	}

	/* 	Tags Sidebar */
	.aside {
		position: fixed;
		top: 0;
		left: 0;
		overflow-x: hidden;
		overflow-y: scroll;
		background: var(--bg-0) !important;
		margin: 0px;
		width: 1px;
		height: 100vh;
		z-index: 1;
	}
	.aside:hover {
		width: 20%;
	}


	.thumbnail-container {
		/* 		display: grid;
 		grid-template-columns: repeat(5, 1fr); */
	}

	/* Flex Layout: Displays Wide Images */
	.thumbnail-preview {
		flex: auto;
		width: auto !important;
		height: auto !important;
		margin-top: 0px !important;
	}
	article.thumbnail-preview img {
		max-width: calc(100vw / 2) !important;
		max-height: calc(100vh / 3) !important;
	}
	/* 	Column Layout: Displays Long Images */
	/* 	.thumbnail-container {
		display: unset !important;
		line-height: 0;
		-webkit-column-count: 5;
		-webkit-column-gap: 0px;
		-moz-column-count: 5;
		-moz-column-gap: 0px;
		column-count: 5;
		column-gap: 0px;
	}

	.thumbnail-preview {
		width: auto !important;
		height: auto !important;
		margin-top: 0px !important;
	}
	article.thumbnail-preview img {
		width: 100% !important;
		height: auto !important;
		max-width: unset !important;
		max-height: calc(100vh) !important;
	}

	
	.mainBodyPadding > div:nth-child(1) {
		display: none;
		
	}	 */
	/* Hide Footer */
	footer {
		display: none;
	}
}/* ==UserStyle==
@name           Gelbooru Free Layout
@namespace      github.com/openstyles/stylus
@version        1.0.0
@description    A new userstyle
@author         TragicNet
==/UserStyle== */
@-moz-document domain("gelbooru.com") {
	:root {
		color-scheme: dark;
		--bg-0: #161a21;
		--bg-1: #1c2028;
		--bg-2: #161a21;
		--bg-3: #161a21;
		--bg-4: #1c2028;
		--bg-5: #161a21;
		--fg-0: #fff;
		--fg-1: #eee;
		--fg-2: #d6d6d6;
		--fg-3: #bebebe;
		--fg-4: #a7a7a7;
		--fg-5: #8f8f8f;
		--ac-0: #7d879d;
		--ac-1: #7d879d;
		--ac-2: #7d879d;
		--ac-3: #7d879d;
		--ac-4: #161a21;
		--ac-5: #161a21;

		/* Pink */
		--bg-0: #ffe0e0;
		--fg-0: #ff7795;
		--fg-3: #ff7795;
	}

	body,
	header,
	.navSubmenu,
	input,
	#ui-id-1,
	.container,
	.alert-info {
		color: var(--fg-3) !important;
		background: var(--bg-0) !important;
	}
	a {
		color: var(--fg-3) !important;
	}
	.alert-info a {
		color: var(--fg-3) !important;
	}
	.invert {
		filter: none;
	}
	.searchArea {
		/* 		backdrop-filter: blur(10px); */
		background: var(--bg-0) !important;
		padding: 3px 10px;
		color: var(--fg-0) !important;
	}

	.homeIcon {
		img:nth-child(1) {
			padding: 0px !important;
			height: 24px !important;
		}
	}

	.topnav > a {
		padding: 10px 20px;
		color: var(--fg-5) !important;
	}
	.topnav a.active,
	.topnav > a:hover {
		color: var(--fg-0) !important;
		background: none !important;
	}

	/* Hide Merch */
	a.active:nth-child(11) {
		display: none;
	}

	/* 	.parentContainer {
		display: flex;
	} */
	main {
		width: 100%;
		margin: 0;
		grid-column: unset !important;
		grid-row: unset !important;
		display: flex;
		flex-direction: column;
	}

	#container {
		display: flex !important;
		flex-direction: column;
	}

	.searchArea {
		position: sticky;
		top: 0;
	}

	/* 	Tags Sidebar */
	.aside {
		position: fixed;
		top: 0;
		left: 0;
		overflow-x: hidden;
		overflow-y: scroll;
		background: var(--bg-0) !important;
		margin: 0px;
		width: 1px;
		height: 100vh;
		z-index: 1;
	}
	.aside:hover {
		width: 20%;
	}


	.thumbnail-container {
		/* 		display: grid;
 		grid-template-columns: repeat(5, 1fr); */
	}

	/* Flex Layout: Displays Wide Images */
	.thumbnail-preview {
		flex: auto;
		width: auto !important;
		height: auto !important;
		margin-top: 0px !important;
	}
	article.thumbnail-preview img {
		max-width: calc(100vw / 2) !important;
		max-height: calc(100vh / 3) !important;
	}
	/* 	Column Layout: Displays Long Images */
	/* 	.thumbnail-container {
		display: unset !important;
		line-height: 0;
		-webkit-column-count: 5;
		-webkit-column-gap: 0px;
		-moz-column-count: 5;
		-moz-column-gap: 0px;
		column-count: 5;
		column-gap: 0px;
	}

	.thumbnail-preview {
		width: auto !important;
		height: auto !important;
		margin-top: 0px !important;
	}
	article.thumbnail-preview img {
		width: 100% !important;
		height: auto !important;
		max-width: unset !important;
		max-height: calc(100vh) !important;
	}

	
	.mainBodyPadding > div:nth-child(1) {
		display: none;
		
	}	 */
	/* Hide Footer */
	footer {
		display: none;
	}
}
